body {
  margin: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex: 1;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
}
